
body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gmail-form {
    display: flex;
    flex-direction: column;
}

.gmail-form label {
    margin: 0.5rem 0;
}

.gmail-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.gmail-form input:focus {
    background-color: rgba(70, 130, 180, 0.35);
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 0.7rem;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}
